<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size-xs="12" size-sm="12" size-md="6" class="ion-align-self-center ion-text-center">
        <ion-img [hidden]="displayPlaceholder" [src]="file?.url" [alt]="file?.name" (ionError)="displayPlaceholder = true"></ion-img>
        <ion-img [hidden]="!displayPlaceholder" src="./assets/icons/file-doc.svg" class="ion-margin"></ion-img>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" class="ion-padding-start ion-align-self-start">
        <!-- close modal button -->
        <ion-button fill="clear" (click)="modalCtrl.dismiss()" class="ion-float-end">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
        <div class="ion-padding ion-margin-vertical">
          <ion-text>
            <h1>{{file?.name}}</h1>
          </ion-text>
          <ion-text color="medium">
            <small>
              <p>Size: {{file?.size|bytesToSize}}</p>
              <p *ngIf="file?.created">Created: {{file?.created}}</p>
            </small>
          </ion-text>
        </div>
        <div class="btns ion-padding-horizontal">
          <ion-button shape="round" expand="full" (click)="downloadFile()">
            <ion-icon slot="start" name="download-outline"></ion-icon>
            <ion-text>Download</ion-text>
          </ion-button>
          <ion-button shape="round" expand="full" fill="clear" (click)="shareFile()">
            <ion-icon slot="start" name="share-outline"></ion-icon>
            <ion-text>Share</ion-text>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>