/* You can add global styles to this file, and also import other style files */

ion-content {
  --ion-background-color: var(--ion-background-content);
}
ion-menu {
  --background: var(--background-app);
  ion-content {
    --ion-background-color: transparent;
  }
}

ion-card, .alert-wrapper {
  border-radius:  0.618rem!important;
}
ion-button {
  --border-radius: 2.618rem;
}

ion-backdrop {
  background-color: rgba(var(--ion-color-primary-rgb), 0.3);
}
.danger {
  ion-backdrop {
    background-color: rgba(var(--ion-color-danger-rgb), 0.5);
  }
}

.alert-button {
  &.alert-button-role-cancel  {
    color: var(--ion-color-danger);
  }
}

ion-split-pane {
  --side-max-width: 236px;
}

ion-popover, .preview-modal {

  &::part(content) {
    border-radius:  0.618rem!important;
    border: solid 1px var(--ion-border-color);
  }
  &::part(backdrop) {
    background-color: rgba(var(--ion-color-primary-rgb), 0.3);
  }
  
}


.dark {
  .alert-wrapper {
    border: solid 1px var(--ion-border-color);
  }
}